@using Web.Models.AdminModels

@model CreateUserViewModel
<div class="header mt-md-5">
    <div class="header-body">
        <div class="row align-items-center">
            <div class="col">
                <h6 class="header-pretitle">
                    Users
                </h6>
                <h1 class="header-title">
                    Create new user
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <form asp-area="Admin" asp-action="CreateUser" asp-controller="Home">
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Email">Email</label>
                    <input asp-for="@Model.Email" type="text" class="form-control" required="required">
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>
                @if (ViewBag.Roles != null)
                {
                    <div class="form-group col-md-6">
                        <label asp-for="Role">Role</label>
                        <select asp-for="@Model.Role" asp-items="@(new SelectList(ViewBag.Roles, "Name", "Name"))" class="form-control" placeholder="Role"></select>
                    </div>
                }

            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Password">Password</label>
                    <input asp-for="@Model.Password" type="password" class="form-control" required="required">
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="ConfirmPassword">Repeat password</label>
                    <input asp-for="@Model.ConfirmPassword" type="password" class="form-control" required="required">
                    <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-12">
                    <div class="sign-btn text-center">
                        <input type="submit" class="btn btn-primary btn-block" value="Add new user">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <div class="sign-btn text-center">
                        <a asp-area="Admin" asp-controller="Home" asp-action="AllUsers" class="btn btn-secondary btn-block">Back</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
            </div>
        </form>
    </div>
</div>
